@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Color variables for future use */
  :root {
    /* --color-bg: #fcfaf8; */
    /* --color-accent: #14cf93; */
    /* --color-accent: ##64ffda; */
    /* --color-accent: #61dafb); */
    /* --color-text: #383838; */
    /* --color-dark-2: #282828; */
    /* --color-dark-3: #a2a2a2; */

    /* Light Theme */
    --color-bg: theme(colors.slate.50);
    --color-bg-secondary: theme(colors.white);
    --color-accent: #80637C;
    --color-accent-light: theme(colors.sky.500/0.1);
    --color-text: theme(colors.slate.600);
    --color-dark-1: theme(colors.slate.900);
    --color-dark-2: theme(colors.slate.700);
    --color-dark-3: theme(colors.slate.300);
  }

  /* Dark Theme */
  .dark {
    --color-bg: theme(colors.slate.900);
    --color-bg-secondary: theme(colors.slate.800);
    --color-accent: theme(colors.sky.400);
    --color-accent-light: theme(colors.sky.400/0.1);
    --color-text: theme(colors.slate.400);
    --color-dark-1: theme(colors.slate.200);
    --color-dark-2: theme(colors.slate.300);
    --color-dark-3: theme(colors.slate.700);
  }

  @font-face {
    font-family: 'agustina';
    src: url('/fonts/Agustina-Signature.otf') format('opentype');
  }

  * {
    @apply focus:outline-dashed outline-[3px] outline-offset-4 outline-accent;
  }
}

/* TYPOGRAPHY */

.heading-secondary {
  @apply text-3xl sm:text-4xl capitalize font-medium mb-8 sm:mb-12 text-dark-2;
}

/* //modefication */
.s-header {
  background-color:#090909;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Apps-main {
  min-height: 95vh; 
}


.particle{
  position:absolute !important;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:var(--color-text)
}

@import url('https://fonts.googleapis.com/css?family=Abel|Raleway|Raleway+Dot|Asap|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap');

.home-left{
    height: 100%;
 }

.home-left-main{
    height: 100%;
    text-align: center;
}

.home-left-main-col{
    margin: auto;    
    display: block;
}

.first-line{
    font-size: 4.5rem;
    font-family: 'Sulphur Point', sans-serif;
}

.second_line{
    font-size: 3rem;
    font-family: 'Julius Sans One', sans-serif;
}

.typical{
    font-size: 2.6rem;
    font-family: 'Sulphur Point', sans-serif;
}

.home-left-aboutme-main{
    position: relative;
    z-index: -1;
}

.home-left-aboutme{
   color: aliceblue;
}

.home-left-aboutme:hover{
    color: black;
 }

.home-left-aboutmme-btn:hover{
     background: #666666;
 }

 .home-right{
  height: 100%;
}

.home-right-main{
  height: 100%;
}

.home-right-main-img{
    height: 65vh;
    margin: auto;    
    display: block;
}

.home-right-footer{
   width: 100%;
}


/* canvas- styles */
.globe {
  display: grid;
  place-items: center;
  height: 100vh;
  cursor: grabbing;
}